.star{

}
.star>.star-item{
  display: inline-block;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
}
.star>.star-item:last-child{
  margin-right: 0;
}
.star-item.on{
  background-image: url("./img/star-on.svg");
}
.star-item.half{
  background-image: url("./img/star-half.svg");
}
.star-item.off{
  background-image: url("img/star-off.svg");
}
